.title.is-partners
  display: flex
  align-items: center
  &::after
    content: ""
    height: 2px
    background-color: currentColor
    flex-grow: 1
    margin-left: 1rem

.partner-image
  img
    height: 72px
    object-fit: contain
    transition: transform 150ms ease-in-out
    &:hover
      transform: scale(1.1)
