.section.is-partners
  border-top: 2px solid $white-ter

.partner-link
  display: block
  transition: transform 150ms ease-in-out
  &:hover,
  &:focus
    transform: scale(1.05)

.partner-image
  img
    height: 72px
    border-radius: $radius

.footer
  background-color: $primary
  color: $white
  padding: $section-padding
  strong
    color: white
  +tablet
    padding-top: 6rem
    padding-bottom: 6rem
