.header
  .cover
    position: relative

  .cover-image
    img
      object-fit: cover

// Standard header for all pages

.header.is-default
  box-shadow: $shadow-navbar
  > .container
    display: flex
    flex-direction: column

  .navbar
    order: 1
    +desktop
      order: 2

  .cover
    order: 2
    +desktop
      order: 1

  .cover-image
    padding-top: 20%
    +tablet
      padding-top: 15%
    +desktop
      img
        border-bottom-right-radius: $radius-large

  .cover-logo
    display: flex
    position: absolute
    top: 0
    bottom: -1rem
    left: 0
    background-color: $white
    border-bottom: 3px solid $primary
    justify-content: center
    align-items: center
    padding-right: 2rem
    padding-left: 2rem
    +mobile
      box-shadow: $shadow-navbar
    +desktop
      bottom: 0
      padding-left: 1.5rem
      border-bottom-right-radius: 2rem

    .image
      width: 72px
      +tablet
        width: 96px
      +desktop
        width: 114px

// Header for index page

.header.is-home
  +desktop
    margin-top: 3rem
  > .container
    box-shadow: $shadow-navbar

  .cover
    +mobile
      padding-top: 3.25rem

  .cover-image
    img
      +desktop
        border-radius: $radius-large

  .cover-hero
    +mobile
      padding: 4rem 1.5rem
      background-position: center
      background-repeat: no-repeat
      background-size: cover
    +tablet
      position: absolute
      top: 50%
      left: 2rem
      right: 25%
      transform: translateY(-50%)
      background-size: 0

    .title,
    .subtitle
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5)

  .cover-hero-image
    width: 10rem
    height: 10rem
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%
    background-color: #fff
    +mobile
      margin: 0 auto
    +desktop
      width: 12rem
      height: 12rem

    img
      padding: 1.5rem
      +desktop
        padding: 2rem
