.content
  a:not(.button)
    text-decoration-skip-ink: auto
    &:focus,
    &:hover
      text-decoration: underline

  &.is-inverted
    color: $white

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    strong
      color: $white

    a
      text-decoration: underline
      &:focus,
      &:hover
        color: darken($white, 10%)
