.content
  p,
  li
    a
      &:focus,
      &:hover
        text-decoration: underline
        text-decoration-skip-ink: auto

  &.is-inverted
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    strong
      color: $white

    p,
    li
      a
        color: $white
        &:focus,
        &:hover
          color: $white
