.section.is-home
  +desktop
    padding-right: 0.75rem
    padding-left: 0.75rem

.section.is-article-list
  .media
    position: relative
    align-items: center
    & + .media
      border-top: 0

  .media-left
    .icon
      width: 96px
    .image
      img
        border-radius: $radius

  .media-content
    overflow-x: unset

  .card
    @extend %box
    transition: box-shadow 150ms ease-in-out, transform 150ms ease-in-out
    &:hover
      transform: translateY(-2px)

  .card-image
    img
      border-radius: $radius-large $radius-large 0 0
