@font-face {
  font-family: "Source Serif Pro";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("SourceSerifPro-Regular.otf.woff2") format("woff2");
}

@font-face {
  font-family: "Source Serif Pro";
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url("SourceSerifPro-It.otf.woff2") format("woff2");
}

@font-face {
  font-family: "Source Serif Pro";
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url("SourceSerifPro-Bold.otf.woff2") format("woff2");
}

@font-face {
  font-family: "Source Serif Pro";
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  src: url("SourceSerifPro-BoldIt.otf.woff2") format("woff2");
}
