.has-border-radius-small
  border-radius: $radius-small

.has-border-radius
  border-radius: $radius

.has-border-radius-large
  border-radius: $radius-large

.is-full-width
  position: relative
  width: 100vw
  left: 50%
  right: 50%
  margin-left: -50vw
  margin-right: -50vw

.is-hyphenated
  overflow-wrap: break-word
  word-break: break-word
  -webkit-hyphens: auto
  -ms-hyphens: auto
  hyphens: auto
